.navbar{
    position: relative;
}

.toggle-display{
    display: none;
}

.shopping-cart{
    cursor: pointer;
}

.list-group{
    position: absolute;
    right: 100px;
    z-index: 1;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
}